SPP_URL=https://redspace-sbx.app.sandbox.netsuitesuiteprojectspro.com
SPP_CLIENT_ID=
SPP_CLIENT_SECRET=
SPP_CALLBACK_URL=https://drearily-anime-wrench.ngrok-free.dev/callback/spp
APP_BASE_URL=https://drearily-anime-wrench.ngrok-free.dev
